{% extends 'base/_dashboard_base.html' %}
{% block title %}Delete User{% endblock %}
{% block body_title %}Delete User{% endblock %}
{% block main_content %}
<div class="container bg-light back02">
    <h2>{{ object.first_name }} {{ object.last_name }}</h2>
    <p>
        Are you sure you want to delete this user?
        <br>
        All data will be removed.
    </p>
    <form method="POST" class="form">
        {% csrf_token %}
        <div class="form-group">
            <button type="submit" class="btn button-del px-4 shadow-lg mr-2">Yes</button>
            <a class="btn btn-dark-blue px-4 shadow-lg mr-1" role="button" href="{% url 'users'%}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}