{% extends 'base/_base_index.html' %}

{% block title %}Email confirmation sent{% endblock %}

{% block body_title %}Email confirmation sent{% endblock %}

{% block body_content %}

<div class="container back01">
    <p>
        An email has been sent with instructions on how to set up your password. If an account exists with the email
        provided, you will receive the message shortly.
    </p>

    <p>
        If you haven't received an email, please make sure you have provided the address you are registered with, and
        check your spam folder.
    </p>

    <div>
        <a class="btn btn-primary mr-2" href="{% url 'index' %}">Início</a>
    </div>
</div>

{% endblock %}