{% extends 'base/_base_index.html' %}

{% block title %}Secretary - Start{% endblock %}

{% block body_title %}Secretary - Start{% endblock %}

{% block body_content %}

<div class="container back01">

    {% if user.is_anonymous %}
    {% include 'base/_notice_login.html' %}
    {% else %}
    <h2>Welcome! {{ user.first_name}} {{ user.last_name }}</h2>
    <a class="btn btn-primary shadow-lg mr-1" role="button" href="{% url 'logout' %}">Sair</a>
    <a class="btn btn-primary shadow-lg mr-1" role="button" href="{% url 'user-change' user.pk %}">Alterar perfil</a>
    <a class="btn btn-primary shadow-lg mr-1" role="button" href="{% url 'password-change' %}">Alterar senha</a>
    <a class="btn btn-primary shadow-lg mr-1" role="button" href="{% url 'user-delete' user.pk %}">Delete profile</a>
    {% endif %}

</div>

{% endblock %}