{% extends 'base/_dashboard_base.html' %}
{% block title %}Disciplins{% endblock %}
{% block body_title %}Disciplins{% endblock %}
{% block main_content %}
<div class="container bg-light back02">
    {% for discipline in object_list %}
    <a class="a-card-min" href="{% url 'discipline-update' discipline.pk %}">
        <div class="row">
            <div class="col-md-2 my-1">
                {{ discipline.get_discipline_name_display }}:
            </div>
            <div class="col-md-4 my-1">
                {{ discipline.discipline_teacher }}
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}